/* reset ***************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor: default;
}

.bullet-points {
  list-style-type: none;
}

/* header ***************************/
